<div style="height: 40px;background-color: black;vertical-align: middle;width: 100%;" >
	<div style="background-color: black;margin: auto auto;width: 1200px;height: 100%;">
		
		<div style="font-size:14px;font: bolder;font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;color: #fff">
			<span style="float: left;margin-left:0px; margin-top:10px;">欢迎来到重慶大物流网   &nbsp;&nbsp; 让物流生活更精彩</span>
			<div style="float: right;margin-right:0px;margin-top:10px; ">
				<ul style="list-style: none;" >
					<li style="float: left;font: bolder;margin-left:5px;">你好$!user.userName,欢迎来到重慶大物流网</li>
					<li style="float: left;font: bolder;margin-left:5px; ">|</li>
					<li style="float: left;font: bolder;margin-left:5px;margin-left:5px;">#if($!user.userName) <a href="logout" class="p12">安全退出</a> #else <a href="toLogin" target="_blank"
						style="color: #3d94fc;">登录</a>| <!--2.0版本--> <!--3.0测试版本--> <!--3.0正式版本--> <a href="toLogin" target="_blank" style="color: #3d94fc;">免费注册</a> #end
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
