
<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar  responsive">
	<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>

	<ul class="nav nav-list">
		<li class=""><a href="zhmanage"> <i class="menu-icon glyphicon glyphicon-user"></i> <span class="menu-text"> 个人资料
			</span>
		</a></li>
		<li class=""><a href="xyrz"> <i class="menu-icon glyphicon glyphicon-bookmark"></i> <span class="menu-text"> 信誉认证
			</span>
		</a></li>
		<li class="">
			<a href="#" class="dropdown-toggle"> <i class="menu-icon glyphicon glyphicon-list-alt"></i> <span class="menu-text"> 我的发布
			</span>
			<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>

			<ul class="submenu">
				<li class="">
					<a href="wdfbgood">
						<i class="menu-icon fa fa-caret-right"></i>
						货源
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="wdfbcar">
						<i class="menu-icon fa fa-caret-right"></i>
						车源
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="wdfbstore">
						<i class="menu-icon fa fa-caret-right"></i>
						仓库源
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle"> <i class="menu-icon glyphicon glyphicon-globe"></i> <span class="menu-text"> 我的订单
				</span><b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>

			<ul class="submenu">
				<li class="">
					<a href="wdddgood">
						<i class="menu-icon fa fa-caret-right"></i>
						货源
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="wdddcar">
						<i class="menu-icon fa fa-caret-right"></i>
						车源
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="wdddstore">
						<i class="menu-icon fa fa-caret-right"></i>
						仓库源
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle"> 
				<i class="menu-icon fa fa-comments" aria-hidden="true"></i> 
				<span class="menu-text">我的评价 </span><b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>

			<ul class="submenu">
				<li class="">
					<a href="wdpjgood">
						<i class="menu-icon fa fa-caret-right"></i>
						货源
					</a>

					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="wdpjcar">
						<i class="menu-icon fa fa-caret-right"></i>
						车源
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="wdpjstore">
						<i class="menu-icon fa fa-caret-right"></i>
						仓库源
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class=""><a href="helps"> <i class="menu-icon fa fa-question-circle" aria-hidden="true"></i> <span class="menu-text">
					帮助 </span>
		</a></li>
	</ul>
	<!-- /.nav-list -->


	<!-- /section:basics/sidebar.layout.minimize -->
	<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
</div>
