<div>
	<div class="navbar-header pull-left">
	</div>
</div>
<!-- #section:basics/navbar.dropdown -->
<div class="navbar-buttons navbar-header pull-left  collapse navbar-collapse" role="navigation"></div>

<!-- /section:basics/navbar.dropdown -->
<nav role="navigation" class="pull-left collapse navbar-collapse" style="height:88px;width: 100%;margin:0 auto;">
	<div style="height:88px;width: 1200px;margin:0 auto;">
	<div class="navbar-header pull-left">
		<h1 class="logo" style="margin-right: 100px;margin-top: 2px;margin-bottom: 0px;"><a href="#" href="#">
		<img src="assets/img/3347542_111942031358_logo3.png" style="height: 80px;"></a></h1>
		<!-- /.brand -->
	</div>
	<!-- #section:basics/navbar.nav -->
	<ul class="nav navbar-nav">
		<li class=""><a href="index"> 首页 </a></li>

		<li><a href="soucegoods"> 货源 </a></li>
		<li><a href="soucecar"> 车源 </a></li>
		<li><a href="soucedb"> 仓库源 </a></li>
		<li><a href="zhmanage"> 个人中心 </a></li>
		<li><a href="zsjm"> 招商加盟 </a></li>
		<li><a href="zsjm"> 客服热线 </a></li>
	</ul>
	</div>
</nav>

