<link rel="stylesheet" href="assets/css/block.css" />
<link rel="stylesheet" href="assets/css/mqy/indexback.css" />
<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar  responsive">
	<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
	<ul class="nav nav-list">
		<li  class=""><a href="backzhzy" > <i class="menu-icon fa fa-tachometer"></i> <span class="menu-text" style="color: #266cad;">
					综合最优 </span>
		</a></li>
		<li class=""><a href="backpjzy" > <i class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					评价最优 </span>
		</a></li>

		<li class=""><a href="backjlzy" > <i class="menu-icon fa fa-list"></i> <span class="menu-text">
					距离最优 </span>
		</a></li>

		<li class=""><a href="backjlzy" > <i class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text">
					单价最优</span>
		</a></li>

	</ul>

</div>
<div class="main-content" style="z-index: 1;">
	<div class="page-content" style="z-index: 1;float: left;width: 95%;"  >
		<h4 class="blue" align="left">推荐组合方案如下：</h4>
		<div class="col-xs-12">
			<div class="cont" style="height: auto;">
			<div class="cont1-info">
				<div class="cont1-info-lift" id="cont1-info-lift">
					#foreach($unit in $data)
						<div class="unitGroup" onmouseover="this.style.background='#F0FFF0';" onmouseout="this.style.background='';">
							#set ($str="")
							#set($flag=1)
							#foreach($ut in $unit)
								#set($str=$str+'&'+$!ut.id);
								#if($flag != 1)
									<div class="addDiv">
										<img class="addImg" src="assets/img/u=238528873,1487191505&fm=21&gp=0111.png" />
									</div>
								#end
								<div class="unitClass">
								  <a href="getcarmsg?id=$!ut.id">
								  	<div>
										<div class="unitImg">
											<img class="carImg" src = $!ut.img />
										</div>
										<div class="unitMsg">
											<ul style="list-style: none;margin-left: 2px;">
												<li>$!ut.name</li>
												<li>$!ut.msg</li>
												<li>$!ut.phone</li>
											</ul>
										</div>
									</div>
									<br><br><br><br>
									<div class="strage">
									  	<ul style="list-style: none;margin-left: 2px;">
											<li>摆放建议：$!ut.strage</li>
											<li>最大载量：$!ut.sum &nbsp;箱</li>
											<li>策略：$!ut.sumDetail</li>
										</ul>
								 	</div>
								 	<div class="strage">
								 		<img src=$!ut.strageImg class="strageImg" />
								 	</div>	
								  </a>	
								  						
								</div>
								#set($flag=$flag+1) 
							#end
							<div class="unitBtn">
									<button class="btn btn-sm btn-primary" onclick="ordering('$!str')" style="margin-top: 128px;margin-right: 10px;">预&nbsp;约</button>
							</div>
						</div>
					#end 
				</div>									
			</div>
		</div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
	

function ordering(str){
	
	$.post('resultordering',{'str':str},function(data,status){
		if(data.status == 1){
			alert(data.msg);
			window.location.href="index.html"; 
		}
	});
	
}
</script>
