<link rel="stylesheet" href="assets/css/block.css" />
<link rel="stylesheet" href="assets/css/mqy/index.css" />
<div class="main-content" style="z-index: 1; position:relative;margin:0 auto;width:100%;height: auto;" >
	<div class="content-msg" >	
		<div class="col-xs-12" style="margin-bottom: 50px;position: relative;" >
			<div class="col-xs-5">
				<img alt="图片" src="$!data.img" width="250px;" height="250px;">
			</div>
			<div class="col-xs-7">
				
			</div>
		</div>
		<div class="hr"></div>
		<div class = "row" style="margin-bottom: 50px;position: relative;height: 300px;margin-left: 13px;">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#home">
						<i class="green ace-icon fa fa-home bigger-120"></i>
						汽车详情
					</a>
				</li>

				<li>
					<a data-toggle="tab" href="#messages">
						累计评价
						<span class="badge badge-danger">4</span>
					</a>
				</li>
			</ul>
			
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
				</div>

				<div id="messages" class="tab-pane fade">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
				</div>
			</div>
		</div>
	</div>
	
</div>