<link rel="stylesheet" href="assets/css/ul.css" />
<link rel="stylesheet" href="assets/css/mqy/index.css" />
<div class="main-content" style="z-index: 1; position: relative;">
	<div id="myCarousel" class="carousel slide div-pic" style="left: 0px;position: relative;">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				</ol>   
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="assets/img/banner/615meeting.jpg" alt="Second slide">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
					<a class="carousel-control left" href="#myCarousel" 
					   data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" 
					   data-slide="next">&rsaquo;</a>
			</div> 
	
			<div class="content-msg">
					<div class="main-cont col-xs-12">
						<div class="header smaller lighter blue" align="center"><h2>实时货源</h2></div>
		
					<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active header smaller lighter blue" style="width: 50%;text-align: center;font:bolder;font-size: large;">
						<a data-toggle="tab" href="#home" aria-expanded="true" onclick="getCarGoodMsg()"> 
							实时车货源
						</a></li>

						<li class=" header smaller lighter blue" style="width: 50%;text-align: center;font:bolder;font-size: large;">
						<a data-toggle="tab" href="#messages" aria-expanded="false" onclick="getStoreGoodMsg()"> 实时仓库货源 </a></li>
					</ul>

					<div class="tab-content">
						<div id="home" class="tab-pane fade active in">
											
							<div >
								<div class="col-xs-7">
								<form class="custom-entity-search" action="$currentUrl" method="GET">
							<div class="row">
								<div class="col-xs-6">
									<input style="height: 28px; width: 100%" type="search" placeholder="搜索">
								</div>
								<div class="col-xs-5">
									<a href="#" class="btn btn-white btn-inverse btn-sm"> <i class="glyphicon glyphicon-search"></i>&nbsp;搜索
									</a> <a href="#" class="btn btn-white btn-inverse btn-sm" onclick="advanceSearch();return false;"> <i
										class="glyphicon glyphicon-search"></i><span class="menu-text"> 高级搜索 </span> <b class="arrow fa fa-angle-down"></b>
									</a>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-5">
						<div style="float: right;">
							<button class="btn btn-white btn-inverse btn-sm" onclick="window.location.href='index.html'">
								<i class="glyphicon glyphicon-plus"></i>&nbsp;添加车货源
							</button>
							<button class="btn btn-white btn-inverse btn-sm">
								<i class="glyphicon glyphicon-share"></i>&nbsp;导出
							</button>
							<button class="btn btn-white btn-inverse btn-sm">
								<i class="icon-remove align-top"></i>&nbsp;删除
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12" id="advanceSearch" style="display: none">
					<form class="form-horizontal" action="ptjzh" method="get">
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 货物类型 </label>
							<div class="col-sm-2">
								<select class="form-control" id="hwlx" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">大宗散货</option>
									<option value="2">普通件杂货</option>
								</select>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 出发地 </label>
							<div class="col-sm-2">
								<select class="form-control" id="cfd" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">普通</option>
									<option value="2">半挂</option>
									<option value="3">全挂</option>
								</select>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 目的地 </label>
							<div class="col-sm-2">
								<select class="form-control" id="mdd" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">板式</option>
									<option value="2">厢式</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 装货时间</label>
							<div class="col-sm-4">
								<div class="input-group">
									<input class="form-control date-picker" id="zhsj" type="text" data-date-format="yyyy-mm-dd"> <span
										class="input-group-addon"> <i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 重量 </label>
							<div class="col-sm-2">
								<select class="form-control" id="zl" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">1吨以下</option>
									<option value="2">1-2吨</option>
									<option value="3">2-3吨</option>
									<option value="2">3-4吨</option>
									<option value="2">4-5吨</option>
									<option value="2">5吨以上</option>
								</select>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-white btn-inverse btn-sm">
									<i class="icon-plus align-top"></i>&nbsp;确认
								</button>
								<button class="btn btn-white btn-inverse btn-sm">
									<i class="icon-edit align-top"></i>&nbsp;重置
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="main-cont col-xs-12">
				<div class="hr"></div>
					<div class="cont" style="height: auto;">
						<div class="cont1-info">
							<div class="cont1-info-title">
								<div class="info-title1 col-xs-2 lighter">货主信息</div>
								<div class="info-title1 col-xs-2 lighter">货物描述</div>
								<div class="info-title1 col-xs-3 lighter">运输路线</div>
								<div class="info-title1 col-xs-2 lighter">期望装卸时间</div>
								<div class="info-title1 col-xs-2 lighter">发布时间</div>
								<div class="info-title1 col-xs-1 lighter">操作</div>
							</div>
							<div class="cont1-info-lift" id="cont1-info-lift">
								
							</div>									
						</div>
					</div>
				</div>
				</div>
				<div id="messages" class="tab-pane fade">
							<div>
								<div class="col-xs-7">
								<form class="custom-entity-search" action="$currentUrl" method="GET">
							<div class="row">
								<div class="col-xs-6">
									<input style="height: 28px; width: 100%" type="search" placeholder="搜索">
								</div>
								<div class="col-xs-5">
									<a href="#" class="btn btn-white btn-inverse btn-sm"> <i class="glyphicon glyphicon-search"></i>&nbsp;搜索
									</a> <a href="#" class="btn btn-white btn-inverse btn-sm" onclick="advanceStoreSearch();return false;"> <i
										class="glyphicon glyphicon-search"></i><span class="menu-text"> 高级搜索 </span> <b class="arrow fa fa-angle-down"></b>
									</a>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-5">
						<div style="float: right;">
							<button class="btn btn-white btn-inverse btn-sm" data-toggle="modal" data-target="#addModal">
								<i class="glyphicon glyphicon-plus"></i>&nbsp;发布仓库货源
							</button>
							<button class="btn btn-white btn-inverse btn-sm">
								<i class="glyphicon glyphicon-share"></i>&nbsp;导出
							</button>
							<button class="btn btn-white btn-inverse btn-sm">
								<i class="icon-remove align-top"></i>&nbsp;删除
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12" id="advanceStoreSearch" style="display: none">
					<form class="form-horizontal" action="ptjzh" method="get">
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 货物类型 </label>
							<div class="col-sm-2">
								<select class="form-control" id="hwlx" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">大宗散货</option>
									<option value="2">普通件杂货</option>
								</select>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 出发地 </label>
							<div class="col-sm-2">
								<select class="form-control" id="cfd" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">普通</option>
									<option value="2">半挂</option>
									<option value="3">全挂</option>
								</select>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 目的地 </label>
							<div class="col-sm-2">
								<select class="form-control" id="mdd" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">板式</option>
									<option value="2">厢式</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 装货时间</label>
							<div class="col-sm-4">
								<div class="input-group">
									<input class="form-control date-picker" id="zhsj" type="text" data-date-format="yyyy-mm-dd"> <span
										class="input-group-addon"> <i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 重量 </label>
							<div class="col-sm-2">
								<select class="form-control" id="zl" style="height: 28px; width: 100%"><option value=""></option>
									<option value="1">1吨以下</option>
									<option value="2">1-2吨</option>
									<option value="3">2-3吨</option>
									<option value="2">3-4吨</option>
									<option value="2">4-5吨</option>
									<option value="2">5吨以上</option>
								</select>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-white btn-inverse btn-sm">
									<i class="icon-plus align-top"></i>&nbsp;确认
								</button>
								<button class="btn btn-white btn-inverse btn-sm">
									<i class="icon-edit align-top"></i>&nbsp;重置
								</button>
							</div>
						</div>
					</form>
				</div>
					<div class="main-cont col-xs-12">
						<div class="hr"></div>
						<div class="cont" style="height: auto;">
							<div class="cont1-info">
								<div class="cont1-info-title">
									<div class="info-title1 col-xs-2 lighter">货主信息</div>
									<div class="info-title1 col-xs-2 lighter">货物描述</div>
									<div class="info-title1 col-xs-2 lighter">仓库地点</div>
									<div class="info-title1 col-xs-2 lighter">仓库时间</div>
									<div class="info-title1 col-xs-2 lighter">发布时间</div>
									<div class="info-title1 col-xs-2 lighter">操作</div>
								</div>
								<div class="cont1-info-lift-store" id="cont1-info-lift-store">
									
								</div>									
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px; height: 500px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">订单信息</h4>
			</div>
			<div class="modal-body" style="height: 450px; text-align: right">
				<div class="row">
					<ul class="steps">
						<li data-step="1" class="active"><span class="step">1</span> <span class="title">接单</span></li>

						<li data-step="2"><span class="step">2</span> <span class="title">确认合同/开始运输</span></li>

						<li data-step="3"><span class="step">3</span> <span class="title">评价</span></li>

						<li data-step="4"><span class="step">4</span> <span class="title">交易完成</span></li>
					</ul>
				</div>
				<br>
				<div class="hr hr13 dotted"></div>
				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-4" align="left">
							<label id="id" style="display: none"></label>
							<div class="row">
								<div style="float: left">
									<span class="profile-picture"> <img id="avatar" class="editable img-responsive editable-click editable-empty"
										alt="Alex's Avatar" src="assets/avatars/profile-pic.jpg" style="width: 70px;height:70px;"></img>
									</span>
								</div>
								<div style="float: left">
									<div>&nbsp;&nbsp;<span id="name"></span></div>
									<div>
										&nbsp;&nbsp;<span id="phone"></span>
									</div>
									<div>
										&nbsp;&nbsp;<span id="registerDate"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="badge badge-info">起：</span>&nbsp;<span id="carNowPlace"></span>
							</div>
							<div class="row">
								<span class="badge badge-danger">终：</span>&nbsp;<span id="carToPlace"></span>
							</div>
							<div class="hr hr13 dotted"></div>
							<div class="row">
								<table id="carMsg">
								</table>
								<div class="hr hr-18 hr-dotted"></div>
								<p id="publishTime">发布时间：</p>
							</div>
						</div>

						<div class="col-xs-4" align="center">
							<div>
								<label class="control-label" for="form-field-1"><font color="red">提醒：如对方索取信息费，请谨慎交易！ </font></label>
							</div>
							<div>
								<label class="control-label" for="form-field-1"><font color="red">须知：发货人认证信息不完整，请知悉！</font></label>
							</div>
							<br>
							<div>
								<label class=" control-label" for="form-field-1">身份证、营业执照、名片照、门头照！</label>
							</div>
							<br>
							<br>
							<div>
								<label class=" control-label no-padding-right" for="form-field-1"> 报价</label> <input type="text" id="money" name="money"
									placeholder="金额">
							</div>
							<br>
							<br>
							<div>
								<button onclick="taking()" class="btn btn-primary" style="width: 100px">接 单</button>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="alert alert-info" style="height: 270px;" align="left">
								<div>1、为确保您的权益得到保障，建议选择资质已认证的发货人</div>
								<br>
								<br>
								<div>2、为保障您的运费资金安全，欢迎使用平台在线支付运费。</div>
								<br>
								<br>
								<div align="center">支付使用问题与投诉请致电</div>
								<div align="center">400-996-2888</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</div>


<div class="modal fade" id="myModalStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px; height: 500px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">订单信息</h4>
			</div>
			<div class="modal-body" style="height: 450px; text-align: right">
				<div class="row">
					<ul class="steps">
						<li data-step="1" class="active"><span class="step">1</span> <span class="title">接单</span></li>

						<li data-step="2"><span class="step">2</span> <span class="title">确认合同/开始运输</span></li>

						<li data-step="3"><span class="step">3</span> <span class="title">评价</span></li>

						<li data-step="4"><span class="step">4</span> <span class="title">交易完成</span></li>
					</ul>
				</div>
				<br>
				<div class="hr hr13 dotted"></div>
				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-4" align="left">
							<label id="id" style="display: none"></label>
							<div class="row">
								<div style="float: left">
									<span class="profile-picture"> <img id="avatar" class="editable img-responsive editable-click editable-empty"
										alt="Alex's Avatar" src="assets/avatars/profile-pic.jpg" style="width: 70px;height:70px;"></img>
									</span>
								</div>
								<div style="float: left">
									<div>&nbsp;&nbsp;<span id="name"></span></div>
									<div>
										&nbsp;&nbsp;<span id="phone"></span>
									</div>
									<div>
										&nbsp;&nbsp;<span id="registerDate"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="badge badge-info">仓库地点：</span>&nbsp;<span id="carNowPlace"></span>
							</div>
							<div class="hr hr13 dotted"></div>
							<div class="row">
								<table id="carMsgStore">
								</table>
								<div class="hr hr-18 hr-dotted"></div>
								<p id="publishTime">发布时间：</p>
							</div>
						</div>

						<div class="col-xs-4" align="center">
							<div>
								<label class="control-label" for="form-field-1"><font color="red">提醒：如对方索取信息费，请谨慎交易！ </font></label>
							</div>
							<div>
								<label class="control-label" for="form-field-1"><font color="red">须知：发货人认证信息不完整，请知悉！</font></label>
							</div>
							<br>
							<div>
								<label class=" control-label" for="form-field-1">身份证、营业执照、名片照、门头照！</label>
							</div>
							<br>
							<br>
							<div>
								<label class=" control-label no-padding-right" for="form-field-1"> 报价</label> <input type="text" id="money" name="money"
									placeholder="金额">
							</div>
							<br>
							<br>
							<div>
								<button onclick="takingStore()" class="btn btn-primary" style="width: 100px">接 单</button>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="alert alert-info" style="height: 270px;" align="left">
								<div>1、为确保您的权益得到保障，建议选择资质已认证的发货人</div>
								<br>
								<br>
								<div>2、为保障您的运费资金安全，欢迎使用平台在线支付运费。</div>
								<br>
								<br>
								<div align="center">支付使用问题与投诉请致电</div>
								<div align="center">400-996-2888</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px; height: 300px">
		<div class="modal-content">
			<form action="addStoreGoodMsg" method='post'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">发布仓库货源</h4>
				</div>
				<div class="modal-body" style="height: 210px; text-align: right">
					<div class="row">
						<label class="col-sm-1 control-label" for="form-field-1">货物名称</label>
						<div class="col-sm-2">
							<input type="text" id="name" name="name" placeholder="货物名称" />
						</div>
						<label class="col-sm-2 control-label" for="form-field-1"> 货物类型</label>
						<div class="col-sm-3">
							<select id="type" name="type" class="width-80"><option></option>
								<option>机械仪器类	</option>
								<option>粮油类</option>
								<option>金属类</option>
								<option>矿物类</option><option>木材类</option>
								<option>快消品类</option>
								</select>
								<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" 
								data-content="机械仪器类包括：工业机械、电器、仪器、仪表、农业机械、器具等；粮油类包括：大米、小麦、玉米等粮食作物 ；金属类包括：钢铁、有色金属材料 、钢轨及其配件等；矿物类：砂砾、岩石等 ；木材类：基本包括木制品；快消品：华章品类 洗护类等日用小百货 " title="说明如下">?</span>
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label no-padding-left" for="form-field-1"><font color="red">*</font> 重量(吨) </label>
						<div class="col-sm-2">
							<input type="text" id="weight" name="weight" placeholder="重量(吨)">
						</div>
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"><font color="red">*</font> 体积 (立方米)</label>
						<div class="col-sm-2">
							<input type="text" id="volumn" name="volumn" placeholder="体积 (立方米)">
						</div>
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"><font color="red">*</font> 预计占用面积 (平方米)</label>
						<div class="col-sm-2">
							<input type="text" id="cover" name="cover" placeholder="预计占用面积 (平方米)">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 仓储地点</label>
							<div class="col-sm-4" style="text-align: center">
								<div style="position: relative;">
									<input id="storeArea" name="storeArea" class="form-control" readonly type="text" value="重庆市/重庆市/沙坪坝区"
									data-toggle="city-picker" style="width: 300px">
								</div>
							</div>
						<label class="col-sm-1 control-label" for="form-field-1">开始时间 </label>
						<div class="col-sm-3">
							<div class="input-group">
								<span style="position: relative; z-index: 9999;"> <input class="form-control date-picker" id="storeDate"
									name="storeDate" type="text" data-date-format="yyyy-mm-dd"> 
								</span>
								<span class="input-group-addon"> <i
										class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</div>
					</div>
					<br>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">发布仓库货源</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>


<script type="text/javascript">

jQuery(document).ready(function(){
	$('[data-rel=tooltip]').tooltip({container:'body'});
	$('[data-rel=popover]').popover({container:'body'});
	getCarGoodMsg();
});

function getCarGoodMsg() {
	
	$.get("getCarGoodsMsg",function(data,status){
		var data = data.data;
		var length =data.length;
		var list = document.getElementById("cont1-info-lift");
		list.innerHTML="";
		for(var i=0;i<length;i++){
			var divSpace = document.createElement("div");
			divSpace.style.cssText="height:2px";
			list.appendChild(divSpace);
			var ul = document.createElement("ul");
			ul.className="car-list";
			var li1=document.createElement("li");
			li1.className ="col-xs-2";
			var dl =document.createElement("dl");
			var dt = document.createElement("dt");
			dt.style.cssText="float: left";
			var img = document.createElement("img");
			img.src=data[i].img;
			img.width="70";
			img.height="70";
			dt.appendChild(img);
			var dd =document.createElement("dd");
			dd.style.cssText="float:left";
			var ddul=document.createElement("dt");
			ddul.style.cssText="float:none";
			// 信息 
			var p = document.createElement("dd");
			p.innerHTML=data[i].goodOwnerName;
			var p2=document.createElement("dd");
			p2.innerHTML="货主";
			
			var p4=document.createElement("dd");
			// 信息 
			p4.innerHTML=data[i].registerDate;
			
			ddul.appendChild(p);
			ddul.appendChild(p2);
			ddul.appendChild(p4);
			dd.appendChild(ddul);
			
			li1.appendChild(dt);
			li1.appendChild(dd);
			
			var li2=document.createElement("li");
			li2.className ="col-xs-2";
			var p=document.createElement("dd");
			p.innerHTML=data[i].type;
			li2.appendChild(p);
			var p=document.createElement("dd");
			p.innerHTML=data[i].totalMsg;
			li2.appendChild(p);
			var p=document.createElement("dd");
			p.innerHTML=data[i].unitMsg;
			li2.appendChild(p);
			var li3=document.createElement("li");
			li3.className ="col-xs-3";
			
			var div1 = document.createElement("div");
			var span1 = document.createElement("span");
			span1.className = "badge badge-info";
			span1.innerHTML="起:";
			var spanmsg = document.createElement("span");
			spanmsg.innerHTML=data[i].startPlace;
			div1.appendChild(span1);
			div1.appendChild(spanmsg);
			
			var div2 = document.createElement("div");
			var span1 = document.createElement("span");
			span1.className = "badge badge-danger";
			span1.innerHTML="终:";
			var spanmsg = document.createElement("span");
			spanmsg.innerHTML=data[i].destination;
			div2.appendChild(span1);
			div2.appendChild(spanmsg);
			
			li3.appendChild(div1);
			li3.appendChild(div2);
			
			/*var p=document.createElement("p");
			p.innerHTML=data[i].startPlace;
			li3.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].destination;
			li3.appendChild(p);*/
			
			var li4=document.createElement("li");
			li4.className ="col-xs-2";
			var p=document.createElement("p");
			p.innerHTML=data[i].deliveryTime;
			li4.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].unloadTime;
			li4.appendChild(p);
			var li5=document.createElement("li");
			li5.className ="col-xs-2";
			var p=document.createElement("p");
			p.innerHTML="   ";
			li5.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].publishTime;
			li5.appendChild(p);
			var li6=document.createElement("li");
			li6.className ="col-xs-1";
			var p=document.createElement("p");
			p.innerHTML="  ";
			li6.appendChild(p);
			var b=document.createElement("button");
			b.className="btn btn-sm btn-primary";
			b.innerHTML="接单";
			b.style.cssText="width:80px;height:30px"
			var carNumber=data[i].carNumber; var name = data[i].carOwnerName;var id = data[i].id;var name =data[i].goodOwnerName
			var phone=data[i].phone;var startPlace=data[i].startPlace;var destination= data[i].destination;
			var type=data[i].type;var unitMsg=data[i].unitMsg;var unloadTime = data[i].unloadTime;var deliveryTime = data[i].deliveryTime;
			var registerDate=data[i].registerDate;var totalMsg = data[i].totalMsg; var publishTime = data[i].publishTime;
			b.setAttribute("onclick","showModalCarMsg("+id+",'"+name+"','"+phone+"','"+startPlace+"','"+destination+"','"+publishTime+"','"+type+"','"+registerDate+"','"+unloadTime+"','"+totalMsg+"','"+unitMsg+"','"+deliveryTime+"')");
			console.log(data[i]);
			li6.appendChild(b);
			
			ul.appendChild(li1);
			ul.appendChild(li2);
			ul.appendChild(li3);
			ul.appendChild(li4);
			ul.appendChild(li5);
			ul.appendChild(li6);
			
			ul.onmouseover=function (){
				this.style.background='#F0FFF0';
			}
			ul.onmouseout=function(){
				this.style.background='';
			}
			list.appendChild(ul);
		}
	});
}

function showModalCarMsg(id,name,phone,startPlace,destination,publishTime,type,registerDate,unloadTime,totalMsg,unitMsg,deliveryTime){
	
	console.log(destination);
	 $('#myModal #id').html(id);
	    $('#myModal #name').html(name);
	    $('#myModal #phone').html(phone);
	    $('#myModal #registerDate').html(registerDate);
	    
	    $('#myModal #carNowPlace').html(startPlace);
	    $('#myModal #carToPlace').html(destination);
	    $('#myModal #carMsg').find("tr").remove();
	    var carMsg = document.getElementById("carMsg");
	    
	    var tr=document.createElement("tr");
	    var th1=document.createElement("th");
	    th1.innerHTML="货物名称:";
	    var th2=document.createElement("th");
	    th2.innerHTML=type;
	    tr.appendChild(th1);tr.appendChild(th2);
	    carMsg.appendChild(tr);
	    
	    var tr=document.createElement("tr");
	    var th1=document.createElement("th");
	    th1.innerHTML="货物描述:";
	    var th2=document.createElement("th");
	    th2.innerHTML=totalMsg + unitMsg;
	    tr.appendChild(th1);tr.appendChild(th2);
	    carMsg.appendChild(tr);
	    
	    
	    
	    var tr=document.createElement("tr");
	    var th1=document.createElement("th");
	    th1.innerHTML="装货时间:";
	    var th2=document.createElement("th");
	    th2.innerHTML=deliveryTime;
	    tr.appendChild(th1);tr.appendChild(th2);
	    carMsg.appendChild(tr);
	    
	    var tr=document.createElement("tr");
	    var th1=document.createElement("th");
	    th1.innerHTML="卸货时间:";
	    var th2=document.createElement("th");
	    th2.innerHTML=unloadTime;
	    tr.appendChild(th1);tr.appendChild(th2);
	    carMsg.appendChild(tr);
	    
	    $('#myModal #publishTime').html("发布时间: "+publishTime);
	    
	    $('#myModal').modal('show');
}

function getStoreGoodMsg(){
	console.log("jel");
	$.get("getStoreGoodsMsg",function(data,status){
		var data = data.data;
		var length =data.length;
		var list = document.getElementById("cont1-info-lift-store");
		list.innerHTML="";
		for(var i=0;i<length;i++){
			var divSpace = document.createElement("div");
			divSpace.style.cssText="height:2px";
			list.appendChild(divSpace);
			var ul = document.createElement("ul");
			ul.className="car-list";
			var li1=document.createElement("li");
			li1.className ="col-xs-2";
			var dl =document.createElement("dl");
			var dt = document.createElement("dt");
			dt.style.cssText="float: left";
			var img = document.createElement("img");
			img.src=data[i].img;
			img.width="70";
			img.height="70";
			dt.appendChild(img);
			var dd =document.createElement("dd");
			dd.style.cssText="float:left";
			var ddul=document.createElement("dt");
			ddul.style.cssText="float:none";
			// 信息 
			var p = document.createElement("dd");
			p.innerHTML=data[i].goodOwnerName;
			var p2=document.createElement("dd");
			p2.innerHTML="货主";
			
			var p4=document.createElement("dd");
			// 信息 
			p4.innerHTML=data[i].registerDate;
			
			ddul.appendChild(p);
			ddul.appendChild(p2);
			ddul.appendChild(p4);
			dd.appendChild(ddul);
			
			li1.appendChild(dt);
			li1.appendChild(dd);
			
			var li2=document.createElement("li");
			li2.className ="col-xs-2";
			var p=document.createElement("dd");
			p.innerHTML=data[i].type;
			li2.appendChild(p);
			var p=document.createElement("dd");
			p.innerHTML=data[i].totalMsg;
			li2.appendChild(p);
			var p=document.createElement("dd");
			p.innerHTML=data[i].unitMsg;
			li2.appendChild(p);
			var li3=document.createElement("li");
			li3.className ="col-xs-2";
			
			var div1 = document.createElement("div");
			var span1 = document.createElement("span");
			span1.className = "badge badge-info";
			span1.innerHTML="";
			var spanmsg = document.createElement("span");
			spanmsg.innerHTML=data[i].startPlace;
			div1.appendChild(span1);
			div1.appendChild(spanmsg);
			
			li3.appendChild(div1);
			
			/*var p=document.createElement("p");
			p.innerHTML=data[i].startPlace;
			li3.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].destination;
			li3.appendChild(p);*/
			
			var li4=document.createElement("li");
			li4.className ="col-xs-2";
			var p=document.createElement("p");
			p.innerHTML=data[i].deliveryTime;
			li4.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].unloadTime;
			li4.appendChild(p);
			var li5=document.createElement("li");
			li5.className ="col-xs-2";
			var p=document.createElement("p");
			p.innerHTML="   ";
			li5.appendChild(p);
			var p=document.createElement("p");
			p.innerHTML=data[i].publishTime;
			li5.appendChild(p);
			var li6=document.createElement("li");
			li6.className ="col-xs-2";
			var p=document.createElement("p");
			p.innerHTML="  ";
			li6.appendChild(p);
			var b=document.createElement("button");
			b.className="btn btn-sm btn-primary";
			b.innerHTML="接单";
			b.style.cssText="width:80px;height:30px"
			var id = data[i].id;var name=data[i].goodOwnerName;var img=data[i].img;
			var registerDate=data[i].registerDate;
			var phone=data[i].phone;var startPlace=data[i].startPlace;var destination= data[i].destination;
			var type=data[i].type;var totalMsg=data[i].totalMsg;var unitMsg=data[i].unitMsg;var publishTime=data[i].publishTime;
			var deliveryTime=data[i].deliveryTime;var unloadTime=data[i].unloadTime;var carNumber = data[i].carNumber;var maxWeight=data[i].maxWeight;
			var lwh=data[i].lwh; 
			b.setAttribute("onclick","showModalStoreMsg("+id+",'"+totalMsg+"','"+phone+"','"+startPlace+"','"+deliveryTime+"','"+unitMsg+"','"+type+"','"+registerDate+"','"+name+"','"+publishTime+"')");
			console.log(data[i]);
			li6.appendChild(b);
			
			ul.appendChild(li1);
			ul.appendChild(li2);
			ul.appendChild(li3);
			ul.appendChild(li4);
			ul.appendChild(li5);
			ul.appendChild(li6);
			
			ul.onmouseover=function (){
				this.style.background='#F0FFF0';
			}
			ul.onmouseout=function(){
				this.style.background='';
			}
			list.appendChild(ul);
		}
	});
}

function showModalStoreMsg(id,totalMsg,phone,startPlace,deliveryTime,unitMsg,type,registerDate,name,publishTime) {
	
	 $('#myModalStore #id').html(id);
    $('#myModalStore #name').html(name);
    $('#myModalStore #phone').html(phone);
    $('#myModalStore #registerDate').html(registerDate);
    
    $('#myModalStore #carNowPlace').html(startPlace);
  //  $('#myModalStore #carToPlace').html(destination);
    $('#myModalStore #carMsgStore').find("tr").remove();
    var carMsg = document.getElementById("carMsgStore");
    
    var tr=document.createElement("tr");
    var th1=document.createElement("th");
    th1.innerHTML="货物名称:";
    var th2=document.createElement("th");
    th2.innerHTML=type;
    tr.appendChild(th1);tr.appendChild(th2);
    carMsg.appendChild(tr);
    
    var tr=document.createElement("tr");
    var th1=document.createElement("th");
    th1.innerHTML="货物描述:";
    var th2=document.createElement("th");
    th2.innerHTML=totalMsg + unitMsg;
    tr.appendChild(th1);tr.appendChild(th2);
    carMsg.appendChild(tr);
    
    var tr=document.createElement("tr");
    var th1=document.createElement("th");
    th1.innerHTML="仓库时间:";
    var th2=document.createElement("th");
    th2.innerHTML=deliveryTime;
    tr.appendChild(th1);tr.appendChild(th2);
    carMsg.appendChild(tr);
    
    $('#myModalStore #publishTime').html("发布时间: "+publishTime);
    
    $('#myModalStore').modal('show');
}

jQuery(function($) {
	$('.date-picker').datepicker({
		autoclose: true,
		todayHighlight: true
	}).next().on(ace.click_event, function(){
		$(this).prev().focus();
	});
});

function advanceSearch(){
	var advanceSearch=sessionStorage.getItem('advanceSearch');
	if(advanceSearch=='true'){
		$('#advanceSearch').css('display','none');
		sessionStorage.setItem('advanceSearch',false);
	}else{
		$('#advanceSearch').css('display','block');
		sessionStorage.setItem('advanceSearch',true);
	}
}

function advanceStoreSearch(){
	var advanceStoreSearch=sessionStorage.getItem('advanceStoreSearch');
	if(advanceSearch=='true'){
		$('#advanceStoreSearch').css('display','none');
		sessionStorage.setItem('advanceStoreSearch',false);
	}else{
		$('#advanceStoreSearch').css('display','block');
		sessionStorage.setItem('advanceStoreSearch',true);
	}
}

function taking(){
	// 获取编号  
	var id=$('#myModal #id').html();
	$.post("orderingCarGood",{"id":id,'flag':2},function(data,status){
		$('#myModal').hide();
		alert(data.msg);
		window.location.reload(); 
	});
}

function takingStore(){
	// 获取编号  
	var id=$('#myModalStore #id').html();
	$.post("orderingStoreGood",{"id":id,'flag':2},function(data,status){
		$('#myModalStore').hide();
		alert(data.msg);
		window.location.reload(); 
	});
}

</script>