#parse("layout/partials/leftnav.html")
<div class="main-content person-center">
	<div class="page-content">
		<div class="page-header">
			<h1>帮助服务</h1>
		</div>
		<!-- /.page-header -->
		<div class="col-xs-12">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="row header smaller lighter blue"></h3>
					<!-- #section:elements.accordion -->
					<div id="accordion" class="accordion-style1 panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
										aria-expanded="false"> <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down"
										data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;在线业务介绍
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
								<div class="panel-body">在线业务是快到网平台为企业提供的运输费用在线支付功能。 业务申请开通后： 1、企业在线即可完成运输费用的支付。 2、可在线申请同等支付金额的货物运输业增值税专用发票。 申请企业要求：
									1、生产商贸企业：企业营业执照、税务登记证、组织机构代码证。 2、物流企业：企业营业执照、税务登记证、组织机构代码证、道路运输经营许可证。 （所有申请时提供的资质证明，需为证件原件照片，复印件照片无效）
									3、目前在线业务只针对具备独立法人资质的物流企业和生产商贸企业开放，个体工商户和个人暂时无法申请开通该项业务。</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
										aria-expanded="false"> <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down"
										data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;流程介绍
									</a>
								</h4>
							</div>

							<div class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
								<div class="panel-body">第一步 根据申请企业要求提供开通该项业务的资质证明材料 第二步 平台审核（工作日：12小时内 非工作日：24小时内） 第三步 设置运费支付密码，开设企业运费支付专用账户，业务开通 申请开通
									如要开通线上业务，则需认证物流或商贸企业并通过审核。</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
										aria-expanded="false"> <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down"
										data-icon-show="ace-icon fa fa-angle-right"></i> &nbsp;其他业务
									</a>
								</h4>
							</div>

							<div class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
								<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
									squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
									3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
							</div>
						</div>
					</div>

					<!-- /section:elements.accordion -->
				</div>
			</div>
		</div>

	</div>
</div>